html,
body {
    background: #98AABF;
    height: 100%;
    width: 100%;
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
}

.navigation {
    list-style: none;
    margin: 0;
    padding: 0;
    margin-top: 3%;
}
.navigation li {
    background: linear-gradient(to bottom, #97b4d7 0%, #b6cae6 100%);
    cursor: pointer;
    width: 10.5%;
    padding: 5px 10px;
    border: 1px solid #000;
}

.navigation li.active {
    background: #fff;
    border-bottom: 0;
}

.navigation li .icon {
    height: 24px;
    width: 24px;
}

.navigation li .icon.dashboard {
    background: url('/images/admin/dashboard.png');
}

.navigation li .icon.server {
    background: url('/images/admin/server.png');
}

.subnavigation {
    list-style: none;
    padding: 0;
}

.subnavigation li .section {
    background: linear-gradient(to bottom, #83a1c6 0%, #385d88 100%);
    padding: 4px 5px;
    font-size: 16px;
    border: 1px solid #000;
    border-bottom: 0;
    color: #fff;
}

.subnavigation li .section .icon {
    background-image: url('/images/admin/menu_title_bullet.gif');
    background-repeat: no-repeat;
    background-position: 5px center;
    width: 11%;
}

.subnavigation li .children {
    background: #F9F2F7;
    color: #000;
    padding: 0 15px;
    font-size: 14px;
    border: 1px solid #000;
    border-top: 0;
    border-bottom: 0;
}

.subnavigation li .children:last-child {
    border-bottom: 1px solid #000;
}

.subnavigation li .children .icon {
    background-image: url('/images/admin/item_bullet.gif');
    background-position: 5px 9px;
    background-repeat: no-repeat;
    width: 11%;
}

.body {
    padding: 1%;
    width: 100%;
    border: 1px solid #000;
    border-top: 0;
    background: #fff;
    height: auto;
}

.box {
    background: #E2E2E0;
    border: 1px solid #000;
    margin-bottom: 3%;
}

.box .header {
    padding: 3px 10px;
    font-size: 13px;
    text-align: center;
    background: #334964;
    color: #fff;
}

.box .content {
    background: #AABFD6;
}

table {
    width: 100%;
    font-size: 12px;
}

table tr {
    background: #F9F2F7;
    width: 100%;
}

table tr td {
    padding: 4px 7px;
    width: 50%;
    border-bottom: 1px solid rgba(0, 0, 0, .1);
}

table tr td:not(:last-child) {
    border-right: 1px solid rgba(0, 0, 0, .1);
}

table tr td:last-child {
    text-align: right;
}

footer {
    font-size: 12px;
    margin-top: 1%;
    text-align: center;
    color: #fff;
}