@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'Inter SemiBold';
    src: url('/fonts/Inter-SemiBold.ttf');
}

@font-face {
    font-family: 'Inter Medium';
    src: url('/fonts/Inter-Medium.ttf');
}

@font-face {
    font-family: 'Inter Bold';
    src: url('/fonts/Inter-Bold.ttf');
}

::-webkit-scrollbar {
    width: 5px;
}

::-webkit-scrollbar-track {
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    background: #0a99e0;
}

::-webkit-scrollbar-thumb:hover {
    background: #076290;
}

.nitro-container {
    position: absolute;
    height: 100%;
    width: 95%;
}

.content[data-theme='light'] {
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    --backgroundColor: #FFF;
    --backgroundSidebar: rgba(255, 255, 255, 0.85);
    --backgroundBack: url('/images/nav/back_light.png');
    --backgroundProfile: url('/images/nav/profile_light.png');
    --backgroundStaff: url('/images/nav/staff_light.png');
    --backgroundNews: url('/images/nav/news_light.png');
    --backgroundSettings: url('/images/nav/settings_light.png');
    --backgroundUserCount: #F7F7F7;
    --textColor: #374151;
    --mottoColor: rgba(55, 65, 81, 0.8);
}

.content[data-theme='dark'] {
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    --backgroundColor: #000;
    --backgroundSidebar: rgba(39, 39, 42, 0.75);
    --backgroundBack: url('/images/nav/back_dark.png');
    --backgroundProfile: url('/images/nav/profile_dark.png');
    --backgroundStaff: url('/images/nav/staff_dark.png');
    --backgroundNews: url('/images/nav/news_dark.png');
    --backgroundSettings: url('/images/nav/settings_dark.png');
    --backgroundUserCount: #3F3F46;
    --textColor: #FFF;
    --mottoColor: rgba(255, 255, 255, 0.8);
}

#navigation {
    position: absolute;
    background-color: var(--backgroundColor);
    width: 80px;
    height: 100%;
}

#navigation .back {
    cursor: pointer;
    position: absolute;
    background: var(--backgroundBack);
    width: 14px;
    height: 8px;
}

#navigation .profile {
    cursor: pointer;
    position: relative;
    background: var(--backgroundProfile);
    width: 24px;
    height: 20px;
}

#navigation .staff {
    cursor: pointer;
    position: relative;
    background: var(--backgroundStaff);
    width: 20px;
    height: 16px;
}

#navigation .news {
    cursor: pointer;
    position: relative;
    background: var(--backgroundNews);
    width: 18px;
    height: 19px;
}

#navigation .settings {
    cursor: pointer;
    position: absolute;
    background: var(--backgroundSettings);
    width: 16px;
    height: 16px;
}

#sidebar {
    position: absolute;
    width: 411px;
    height: 100%;
    overflow-y: auto;
    background-color: var(--backgroundSidebar);
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    z-index: 2;
    backdrop-filter: blur(5px);
}

#sidebar .searchBar {
    position: absolute;
    width: 336px;
    height: 53px;
    background-color: var(--backgroundColor);
    border-radius: 10px;
}

#sidebar .searchBar .icon {
    position: absolute;
    width: 18.5px;
    height: 18.5px;
    color: var(--textColor);
}

#sidebar .searchBar .input {
    position: absolute;
    width: auto;
    height: 17px;
    font-family: 'Inter SemiBold';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 17px;
    outline: none;
    background-color: var(--backgroundColor);
    color: var(--textColor);
}

#sidebar .userDetails {
    position: absolute;
    width: 281px;
    height: 220px;
}

#sidebar .userDetails .avatar {
    position: absolute;
    width: 128px;
    height: 220px;
}

#sidebar .userDetails .text {
    position: absolute;
    width: 76px;
    height: 18px;
    font-family: 'Inter SemiBold';
    font-style: normal;
    font-weight: 600;
    font-size: 15px;
    line-height: 18px;
    color: var(--textColor);
}

#sidebar .userDetails .lastSeen {
    position: absolute;
    width: 143px;
    height: 17px;
    font-family: 'Inter Medium';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    color: var(--textColor);
}

#sidebar .userDetails .username {
    position: absolute;
    width: 79px;
    height: 31px;
    font-family: 'Inter Bold';
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 31px;
    color: var(--textColor);
}

#sidebar .userDetails .motto {
    position: absolute;
    width: 138px;
    height: 18px;
    font-family: 'Inter SemiBold';
    font-style: normal;
    font-weight: 600;
    font-size: 15px;
    line-height: 18px;
    color: var(--textColor);
    opacity: 0.9;
}

#sidebar .currencies {
    position: absolute;
    width: 336px;
    height: 93px;
}

#sidebar .currencies .currency {
    position: relative;
    width: 105px;
    height: 93px;
    background: var(--backgroundColor);
    border-radius: 10px;
}

#sidebar .currencies .currency .amount {
    position: relative;
    width: 54px;
    height: 19px;
    text-align: center;
    font-family: 'Inter SemiBold';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 19px;
}

#sidebar .currencies .currency .amount.credits {
    color: #E9B124;
}

#sidebar .currencies .currency .amount.duckets {
    color: #CD7BBF;
}

#sidebar .currencies .currency .amount.diamonds {
    color: #4AA78F;
}

#sidebar .currencies .currency .image {
    position: relative;
    width: 40px;
    height: 40px;
}

#sidebar .title {
    position: absolute;
    width: 58px;
    height: 19px;    
    font-family: 'Inter SemiBold';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 19px;
    color: var(--textColor);
}

#sidebar .friends {
    position: absolute;
    width: 327px;
    height: 154px;
}

#sidebar .friends .bg {
    position: absolute;
    width: 327px;
    height: 85px;
    background: var(--backgroundColor);
    border-radius: 10px;
}

#sidebar .friends .friend {
    position: relative;
    width: 69px;
    height: 91px;
}

#sidebar .friends .friend .tooltip {
    display: none;
    position: absolute;
    width: 100%;
    height: 15px;
    font-family: 'Inter SemiBold';
    text-align: center;
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 15px;
    color: var(--textColor);
}

#sidebar .friends .friend:hover .tooltip {
    display: block;
}

#sidebar .rooms {
    position: absolute;
    width: 327px;
    height: 266px;
}

#sidebar .rooms .bg {
    position: absolute;
    width: 327px;
    height: 233px;
    background: var(--backgroundColor);
    border-radius: 10px;
}

#sidebar .rooms .room {
    position: relative;
    width: 292px;
    height: 80px;
}

#sidebar .rooms .room .thumbnail {
    position: relative;
    width: 80px;
    height: 80px;
    border-radius: 6px;
}

#sidebar .rooms .room .name {
    position: relative;
    width: 88px;
    height: 17px;
    font-family: 'Inter SemiBold';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 17px;
    color: var(--textColor);
}

#sidebar .rooms .room .count {
    position: relative;
    width: 51px;
    height: 29px;
    border-radius: 10px;
}

#sidebar .rooms .room .count .icon {
    position: relative;
    width: 7px;
    height: 7px;
    background: url('/images/profile/count.png');
}

#sidebar .rooms .room .count .text {
    position: relative;
    width: 16px;
    height: 15px;
    font-family: 'Inter SemiBold';
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 15px;
    color: var(--textColor);
}

#sidebar .rooms .room .count.not0 {
    background: #4ADE80;
}

#sidebar .rooms .room .count.is0 {
    background: var(--backgroundUserCount);
}

#sidebar .staffs {
    position: relative;
    width: 327px;
    height: auto;
}

#sidebar .staffs .no-staff {
    position: absolute;
    width: auto;
    height: 16px;
    font-family: 'Inter SemiBold';
    font-style: normal;
    font-weight: 600;
    font-size: 13px;
    line-height: 16px;
    color: var(--mottoColor);
}

#sidebar .staffs .staff {
    position: relative;
    width: 327px;
    height: 162px;
    background: var(--backgroundColor);
}

#sidebar .staffs .staff:nth-of-type(2) {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

#sidebar .staffs .staff:last-child {
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

#sidebar .staffs .staff .details {
    position: absolute;
    width: 168px;
    height: 122px;
}

#sidebar .staffs .staff .details .username {
    position: absolute;
    width: 78px;
    height: 19px;
    font-family: 'Inter Bold';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
    color: var(--textColor);
}

#sidebar .staffs .staff .details .motto {
    position: absolute;
    width: 119px;
    height: 16px;
    font-family: 'Inter SemiBold';
    font-style: normal;
    font-weight: 600;
    font-size: 13px;
    line-height: 16px;
    color: var(--mottoColor);
}

#sidebar .staffs .staff .details .avatarBg {
    position: absolute;
    width: 72px;
    height: 122px;
    background: url('/images/staff/avatarBg.png');
    border-radius: 8px;
}

#sidebar .staffs .staff .details .avatar {
    position: absolute;
    width: 64px;
    height: 110px;
}

#sidebar .staffs .staff .rank {
    position: absolute;
    width: 65px;
    height: 16px;
    font-family: 'Inter SemiBold';
    font-style: normal;
    font-weight: 600;
    font-size: 13px;
    line-height: 16px;
    color: var(--textColor);
}

#sidebar .staffs .staff .status {
    position: absolute;
    width: 12px;
    height: 12px;
    border-radius: 100px;
}

#sidebar .staffs .staff .status.offline {
    background: #FF9696;
}

#sidebar .staffs .staff .status.online {
    background: #4ADE80;
}